html {
    width: 100%;
}
body {
    font-family:sans-serif;
    letter-spacing: -2px;
    background-image: url(images/squared_metal.png);
}
#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 360px;
    width: 65vw;
    max-width: 500px;
    /* max-height: 500px; */
}
#board-container {
    /* flex-grow: 2; */
    display: grid;
    width: 65vw;
    height: 65vw;
    /* margin: 0 auto 15px auto; */
    min-width: 360px;
    min-height: 360px;
    max-width: 500px;
    max-height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 20px solid rgba(201, 197, 175, 0.938);
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid rgba(92, 91, 86, 0.938);
    cursor: pointer;
}
.span {
    color: rgba(92, 91, 86, 0.938);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 90px;
}
#game-container {
    margin: 20px 0;
    /* flex-grow: 2; */
    display: flex;
    justify-content: space-between;
}
.player-container {
    font-size: 30px;
    align-items: center;
    /* margin-top: 200px; */
    display: flex;
    flex-direction: column;
}
#score-container {
    display: flex;
    justify-content: space-between;
    margin: auto 10px; 
    font-size: 40px;
}
.player-score {
    margin: auto 10px;
}
#game-dialogue {
    margin: 0 auto;
}
#dialogue-text {
    /* margin: 0 auto; */
    font-size: 40px;
}

/* modals */
.modal {
    color: rgba(92, 91, 86, 0.938);
    font-size: 30px;
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    border-radius: 10px;
}
.modal-content {
    position: relative;
    background-color: rgba(201, 197, 175, 0.938);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.678);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 2s;
    animation-name: animatetop;
    animation-duration: 2s
}

@keyframes animatetop {
    from {top: 0px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-header {
    text-align: center;
}
.modal-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body-containers {
    display: flex;
}
.body-containers p {
    margin: 20px 0;
}
#choose-opponent {
    display: flex;
    justify-content: space-around;
}
#opponent-choice {
    display: flex;
    flex-direction: column;
}
#opponent-choice-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.just-direction {
    justify-content: flex-end;
}

#first-to {
    justify-content: space-evenly;
    margin: 0 80px;
}
#first-to-number {
    font-size: 30px;
    width: 35px;
    height: 30px;
    margin: auto 0;
}

button {
    font-size: 100%;
    font-weight: 800;
    border: 0;
    padding: 8px;
    background-color: #ffbb00;
    border-radius: 5px;
    cursor: pointer;
}